.headerDisplay {
    display: flex;
    align-items: center;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postImage {
    width: 100%;
}

.postBox {
    border: 1px solid #000;
}

p{
   margin-bottom: 0;
}

.headerIcon {
    margin-right: 2px;
}

h3{
    margin-left: 5px;
}
/* PRUEBA */

.photo {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.grid-photo {
    max-width: 100%;
    height: auto;
    margin: 3px; 
    width: 100%;
}

.button-container {
    text-align: center;
}


#nav-home-tab:focus {
    color: blue;
}

#nav-profile-tab:focus {
    color: blue;
}