.headerDisplay {
    display: flex;
    align-items: center;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postImage {
    width: 100%;
}

.postBox {
    border: 1px solid #000;
}

p{
   margin-bottom: 0;
}

.headerIcon {
    margin-right: 2px;
}

#btnGrid:focus {
    color:blue
}

#btnSquare:focus  {
    color:blue
}

h3{
    margin-left: 5px;
}

.photo-container {
    position: relative;
}

.photo {
    display: none;
    max-width: 100%;
    height: auto;
}

.icon-btn {
    font-size: 20px;
}